/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg_container {
  background-color: #ffc2a0;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
}
.heading {
  color: #ff8542;
  font-size: 24px;
  font-weight: bold;
}
